<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.health.WRITE_ACTIVE_CALORIES_BURNED" />
    <uses-permission android:name="android.permission.health.WRITE_EXERCISE" />
    <uses-permission android:name="android.permission.health.WRITE_FLOORS_CLIMBED" />
    <uses-permission android:name="android.permission.health.WRITE_ELEVATION_GAINED" />
    <uses-permission android:name="android.permission.health.WRITE_DISTANCE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.health.WRITE_STEPS" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <package android:name="com.huawei.hwid" />
        <package android:name="com.huawei.health" />
        <package android:name="com.huawei.appmarket" />

        <intent>
            <action android:name="android.health.connect.action.MANAGE_HEALTH_PERMISSIONS" />
        </intent>

        <intent>
            <action android:name="androidx.health.ACTION_HEALTH_CONNECT_SETTINGS" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".SyncApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="BitLut"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitLut">

        <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=${huaweiAppId}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BitLut">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="ViewPermissionUsageActivity"
            android:exported="true"
            android:targetActivity=".MainActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>
</application>

</manifest>
