<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.health.WRITE_STEPS" />
    <uses-permission android:name="android.permission.health.WRITE_HEART_RATE" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
        <package android:name="com.google.android.health.connect" />
        <package android:name="com.huawei.health" />
        <package android:name="com.huawei.hwid" />
        <package android:name="com.huawei.hwid.tv" />
        <package android:name="com.huawei.hms" />
    </queries>

    <application
        android:name=".SyncApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BitLut"
        tools:targetApi="35">

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=${huaweiAppId}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BitLut">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.health.connect.action.SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="ViewPermissionRationaleActivity"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_RATIONALE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
