<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:ns1="http://schemas.android.com/tools">

    <queries><package android:name="com.google.android.apps.healthdata" /><package android:name="com.google.android.health.connect" /></queries><uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:name=".SyncApplication" android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.BitLut" ns1:targetApi="34">

        <activity android:name=".MainActivity" android:exported="true" android:theme="@style/Theme.BitLut">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.health.connect.action.SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        <intent-filter><action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" /></intent-filter></activity>

        <activity-alias android:name="ViewPermissionRationaleActivity" android:exported="true" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_RATIONALE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".HuaweiCallbackActivity" android:exported="true" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter android:label="BitLut OAuth Callback">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="com.openhealth.sync" android:path="/oauth_callback" />
            </intent-filter>
        </activity>

    </application>
</manifest>